body {
  font-family: "PT Serif", serif;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "PT Serif", serif;
}
p {
  font-family: "Philosopher", sans-serif;
}
a {
  font-family: "PT Serif", serif;
}

/* small scree css start */

@media (max-width: 700px) {
  .dining-banner-img {
    width: 100%;
  }
  .diningaboutimg img {
    width: 100%;
    height: 100%;
  }
  .ameneties-title {
    background-color: #425f2f;
    color: #fff;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ameneties-title h2 {
    margin-bottom: 0;
  }
  .amenetiesflex {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3%;
  }

  .amenetiesone {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .amenetiesone img {
    width: 40px;
    height: 40px;
  }

  .diningparalis1 p {
    font-size: 18px;
  }
  .diningparalis1 img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .diningaboutul p {
    font-size: 18px;
  }

  .amenetiesone p {
    text-align: center;
    height: 55px;
    font-size: 15px;
    line-height: 20px;
  }
  #paddingone {
    padding-left: 0px !important;
  }
  #paddingtwo {
    display: flex;
    justify-content: start !important;
  }
  #paddingthree {
    padding-left: 0px;
  }
  .flex1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .flex2 {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }
  #checkincheckup {
    display: block !important;
    gap: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    padding-left: 12px;
    padding-right: 10px;
  }
  .dining-banner-img h1 {
    color: #ffff;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 400;
  }
  #zeenath-logo-position img {
    position: absolute;
    top: -15px !important;
    left: 0px !important;
    width: 100px !important;
  }
  .diningaboutpara {
    font-size: 16px;
  }
  .booknowbutton {
    text-align: center;
    font-size: 25px;
  }
  .callbtnno a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
  }
  .dlewxusdjdjf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
  }
  #deluxeChaletGallery2 .carousel-item img {
    height: 500px;
  }
  .diningaboutstart {
    padding-top: 25px;
    color: #535353;
    padding-bottom: 30px;
  }
  .diningaboutpara p {
    font-size: 18px;
  }
  .small-screen-flex {
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
  }
  .diningbooknowbtn {
    border: none;
    height: 49px;
    width: 90%;
    background-color: #425f2f;
    color: #ffff;
    font-size: 22px;
    font-family: "PT Serif", serif;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 16px;
  }
  .callbtnno {
    background-color: #425f2f;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-left: 0px !important;
  }

  .gallwerytext {
    font-size: 50px;
    line-height: 47px;
  }
  .galleryCaption {
    font-size: 25px;
    text-align: center;
    line-height: 29px;
    margin-top: 9px;
  }
  #deluxeChaletGallery2 .carousel-control-prev {
    width: 50px;
    height: 50px;
    background-color: #425f2f;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../public/images/ArrowPrev.svg") !important;
    top: 44%;
  }
  #deluxeChaletGallery2 .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: #425f2f;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../public/images/ArrowNext.svg") !important;
    top: 44%;
  }
  .carousel-control-next-icon {
    background-image: none !important;
  }
  .carousel-control-prev-icon {
    background-image: none !important;
  }
  #deluxeChaletGallery2 .carousel-indicators {
    display: none !important;
  }

  /* .check-in {
    border-right: 2px solid #d2d2d2 !important;
  }
  .check-out {
    border-right: 2px solid #d2d2d2 !important;
  } */
  .check-in p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
    text-align: left;
  }
  .check-out p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 22px;
    font-weight: 400;
    margin: 10px;
    text-align: left;
  }
  #checkInDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    width: 94%;
    height: 50px;
    padding-left: 20px;
  }
  #checkOutDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    width: 94%;
    height: 50px;
    padding-left: 20px;
  }

  #deluxeChaletGallery2 {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  .diningaboutpara .flex2 {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* dining  banner css start */

  .dining-banner-img {
    /* background-image: url(assets/images/dining-page/diingpagebanner.png); */
    /* background-image: url(../../../public/images/dining-page/diingpagebanner.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dining-banner-img h1 {
    color: #ffff;
    font-size: 70px;
    padding-top: 250px;
    padding-bottom: 150px;
    font-weight: 400;
  }

  /* dining about start */

  .diningaboutstart {
    padding-top: 50px;
    color: #535353;
  }

  .diningaboutpara {
    font-size: 20px;
  }

  .flex1 {
    display: flex;
    justify-content: left;
    gap: 90px;
  }

  .flex2 {
    display: flex;
    gap: 130px;
  }

  .diningaboutimg img {
    width: 600px;
    height: 500px;
  }

  /* Ameneties section start */

  .ameneties-title {
    background-color: #425f2f;
    color: #fff;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
    left: -15px;
    top: -6px;
  }

  .ameneties-title h2 {
    padding: 20px 25px;
    font-size: 30px;
    font-weight: 700;
  }

  .amenetiesflex {
    display: flex;
    justify-content: start;
    gap: 15px;
  }

  .amenetiesone {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .amenetiesone p {
    font-size: 14px;
    font-weight: 700;
    color: #666766;
    margin-bottom: 0;
  }

  #checkincheckup {
    display: flex !important;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
  }

  .check-in p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkInDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: "poppins";
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .check-out p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkOutDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
  }

  .diningbooknowbtn {
    border: none;
    height: 100px;
    width: 220px;
    background-color: #425f2f;
    color: #ffff;
    font-size: 25px;
    font-family: "PT Serif", serif;
  }

  .ameneties-check {
    display: flex;
  }

  .callbtnno a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .callbtnno a:hover {
    color: #cadd6f;
  }

  .callbtnno {
    background-color: #425f2f;
    width: 495px;
    padding: 10px;
    text-align: center;
    margin-left: 77px;
  }

  #checkincheckout {
    text-align: center;
  }

  .booknowbutton {
    font-size: 20px;
  }

  /* gallery dining section css */

  .dininggallerysection {
    /* padding-top: 50px;
  padding-bottom: 50px; */
  }

  .diningpagegallery h2 {
    font-size: 40px;
    color: #637557;
  }

  .diningpagegallery p {
    font-size: 20px;
    color: #535353;
  }

  .signature {
    margin-top: 100px;
    bottom: 0;
    font-family: "Quicksand";
    color: #9696aa;
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
  }
  .signature .name {
    color: white;
  }
  .signature .dot {
    margin: 0 5px;
  }
  .signature a {
    color: white;
    text-decoration: underline;
  }

  .amenetiesflex .amenetiesone {
    width: 190px;
  }

  .small-screen-flex {
    display: flex;
  }

  .ameneties-section-start {
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  /* dining  banner css start */

  .dining-banner-img {
    /* background-image: url(assets/images/dining-page/diingpagebanner.png); */
    /* background-image: url(../../../public/images/dining-page/diingpagebanner.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dining-banner-img h1 {
    color: #ffff;
    font-size: 70px;
    padding-top: 250px;
    padding-bottom: 150px;
    font-weight: 400;
  }

  /* dining about start */

  .diningaboutstart {
    padding-top: 50px;
    color: #535353;
  }

  .diningaboutpara {
    font-size: 20px;
  }

  .flex1 {
    display: flex;
    justify-content: left;
    gap: 90px;
  }

  .flex2 {
    display: flex;
    gap: 130px;
  }

  .diningaboutimg img {
    width: 600px;
    height: 500px;
  }

  /* Ameneties section start */

  .ameneties-title {
    background-color: #425f2f;
    color: #fff;
    width: 590px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
    left: -15px;
    top: -8px;
  }

  .ameneties-title h2 {
    padding: 20px 25px;
    font-size: 30px;
    font-weight: 700;
  }

  .amenetiesflex {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 30px;
  }

  .amenetiesone {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .amenetiesone p {
    font-size: 14px;
    font-weight: 700;
    color: #666766;
    margin-bottom: 0;
  }

  #checkincheckup {
    display: flex !important;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
  }

  .check-in {
    border-right: 2px solid #d2d2d2 !important;
  }
  .check-in p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkInDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .check-out p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkOutDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .diningbooknowbtn {
    border: none;
    height: 100px;
    width: 220px;
    background-color: #425f2f;
    color: #ffff;
    font-size: 25px;
    font-family: "PT Serif", serif;
  }

  .ameneties-check {
    display: flex;
  }

  .callbtnno a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .callbtnno a:hover {
    color: #cadd6f;
  }

  .callbtnno {
    background-color: #425f2f;
    width: 495px;
    padding: 10px;
    text-align: center;
    margin-left: 77px;
  }

  #checkincheckout {
    text-align: center;
  }

  .booknowbutton {
    font-size: 20px;
  }

  /* gallery dining section css */

  .dininggallerysection {
    /* padding-top: 50px;
  padding-bottom: 50px; */
  }

  .diningpagegallery h2 {
    font-size: 40px;
    color: #637557;
  }

  .diningpagegallery p {
    font-size: 20px;
    color: #535353;
  }

  .signature {
    margin-top: 100px;
    bottom: 0;
    font-family: "Quicksand";
    color: #9696aa;
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
  }
  .signature .name {
    color: white;
  }
  .signature .dot {
    margin: 0 5px;
  }
  .signature a {
    color: white;
    text-decoration: underline;
  }

  .amenetiesflex .amenetiesone {
    width: 190px;
  }

  .small-screen-flex {
    display: flex;
  }

  .ameneties-section-start {
    padding-bottom: 50px;
  }

  #DeluxeChaletId header .navbar-nav .nav-item .nav-link {
    color: #fff !important;
  }

  /* Css */

  .deluxeChLAETfLEX {
    display: flex;
    align-items: center;
  }

  #deluxeChaletGallery1 {
    width: 45%;
  }
  #deluxeChaletGallery2 {
    width: 55%;
  }

  #deluxeChaletGallery2 .carousel-control-prev-icon {
    background-image: url("../../../public/images/ArrowPrev.svg");
    width: 50px;
    height: 50px;
  }
  #deluxeChaletGallery2 .carousel-control-next-icon {
    background-image: url("../../../public/images/ArrowNext.svg");
    width: 50px;
    height: 50px;
  }

  #deluxeChaletGallery2 .carousel-indicators {
    display: none;
  }
  #deluxeChaletGallery2 .carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .gallwerytext {
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    color: #637557;
  }
}

@media (min-width: 1300px) {
  /* dining  banner css start */

  .dining-banner-img {
    /* background-image: url(assets/images/dining-page/diingpagebanner.png); */
    /* background-image: url(../../../public/images/dining-page/diingpagebanner.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dining-banner-img h1 {
    color: #ffff;
    font-size: 70px;
    padding-top: 250px;
    padding-bottom: 150px;
    font-weight: 400;
  }

  /* dining about start */

  .diningaboutstart {
    padding-top: 50px;
    color: #535353;
  }

  .diningaboutpara {
    font-size: 20px;
  }

  .flex1 {
    display: flex;
    justify-content: left;
    gap: 90px;
  }

  .flex2 {
    display: flex;
    gap: 130px;
  }

  .diningaboutimg img {
    width: 600px;
    height: 500px;
  }

  /* Ameneties section start */

  .ameneties-title {
    background-color: #425f2f;
    color: #fff;
    width: 590px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
    left: -15px;
    top: -8px;
  }

  .ameneties-title h2 {
    padding: 20px 25px;
    font-size: 30px;
    font-weight: 700;
  }

  .amenetiesflex {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 30px;
  }

  .amenetiesone {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .amenetiesone p {
    font-size: 14px;
    font-weight: 700;
    color: #666766;
    margin-bottom: 0;
  }

  #checkincheckup {
    display: flex !important;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
  }

  .check-in {
    border-right: 2px solid #d2d2d2 !important;
  }
  .check-in p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkInDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .check-out p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkOutDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .diningbooknowbtn {
    border: none;
    height: 100px;
    width: 220px;
    background-color: #425f2f;
    color: #ffff;
    font-size: 25px;
    font-family: "PT Serif", serif;
  }

  .ameneties-check {
    display: flex;
  }

  .callbtnno a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .callbtnno a:hover {
    color: #cadd6f;
  }

  .callbtnno {
    background-color: #425f2f;
    width: 495px;
    padding: 10px;
    text-align: center;
    margin-left: 77px;
  }

  #checkincheckout {
    text-align: center;
  }

  .booknowbutton {
    font-size: 20px;
  }

  /* gallery dining section css */

  .dininggallerysection {
    /* padding-top: 50px;
    padding-bottom: 50px; */
  }

  .diningpagegallery h2 {
    font-size: 40px;
    color: #637557;
  }

  .diningpagegallery p {
    font-size: 20px;
    color: #535353;
  }

  .signature {
    margin-top: 100px;
    bottom: 0;
    font-family: "Quicksand";
    color: #9696aa;
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
  }
  .signature .name {
    color: white;
  }
  .signature .dot {
    margin: 0 5px;
  }
  .signature a {
    color: white;
    text-decoration: underline;
  }

  .amenetiesflex .amenetiesone {
    width: 190px;
  }

  .small-screen-flex {
    display: flex;
  }

  .ameneties-section-start {
    padding-bottom: 50px;
  }

  #DeluxeChaletId header .navbar-nav .nav-item .nav-link {
    color: #fff !important;
  }

  /* Css */

  .deluxeChLAETfLEX {
    display: flex;
    align-items: center;
  }

  #deluxeChaletGallery1 {
    width: 45%;
  }
  #deluxeChaletGallery2 {
    width: 55%;
  }

  #deluxeChaletGallery2 .carousel-control-prev-icon {
    background-image: url("../../../public/images/ArrowPrev.svg");
    width: 50px;
    height: 50px;
    background-color: #425f2f;
    border-radius: 50%;
  }
  #deluxeChaletGallery2 .carousel-control-next-icon {
    background-image: url("../../../public/images/ArrowNext.svg");
    width: 50px;
    height: 50px;
    background-color: #425f2f;
    border-radius: 50%;
  }

  #deluxeChaletGallery2 .carousel-indicators {
    display: none;
  }
  #deluxeChaletGallery2 .carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .gallwerytext {
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    color: #637557;
  }

  .galleryCaption {
    font-family: Philosopher;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: #535353;
    width: 60%;
    margin-top: 15px;
  }
}

@media (min-width: 1400px) {
  /* dining  banner css start */

  .dining-banner-img {
    /* background-image: url(assets/images/dining-page/diingpagebanner.png); */
    /* background-image: url(../../../public/images/dining-page/diingpagebanner.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dining-banner-img h1 {
    color: #ffff;
    font-size: 70px;
    padding-top: 250px;
    padding-bottom: 150px;
    font-weight: 400;
  }

  /* dining about start */

  .diningaboutstart {
    padding-top: 50px;
    color: #535353;
  }

  .diningaboutpara {
    font-size: 20px;
  }

  .flex1 {
    display: flex;
    justify-content: left;
    gap: 90px;
  }

  .flex2 {
    display: flex;
    gap: 130px;
  }

  .diningaboutimg img {
    width: 600px;
    height: 500px;
  }

  /* Ameneties section start */

  .ameneties-title {
    background-color: #425f2f;
    color: #fff;
    width: 663px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
    left: 0;
    top: -8px;
  }

  .ameneties-title h2 {
    padding: 20px 65px;
    font-size: 30px;
    font-weight: 700;
  }

  .amenetiesflex {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 30px;
  }

  .amenetiesone {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .amenetiesone p {
    font-size: 14px;
    font-weight: 700;
    color: #666766;
    margin-bottom: 0;
  }

  #checkincheckup {
    display: flex !important;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
  }

  .check-in {
    border-right: 2px solid #d2d2d2 !important;
  }
  .check-in p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkInDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .check-out p {
    font-family: "PT Serif", serif;
    color: #637557;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  #checkOutDate {
    padding: 5px;
    margin: 10px;
    background-color: #eeeeee;
    border: none;
    color: #637557;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
  }

  .diningbooknowbtn {
    border: none;
    height: 100px;
    width: 220px;
    background-color: #425f2f;
    color: #ffff;
    font-size: 25px;
    font-family: "PT Serif", serif;
  }

  .ameneties-check {
    display: flex;
  }

  .callbtnno a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .callbtnno a:hover {
    color: #cadd6f;
  }

  .callbtnno {
    background-color: #425f2f;
    width: 495px;
    padding: 10px;
    text-align: center;
    margin-left: 77px;
  }

  #checkincheckout {
    text-align: center;
  }

  .booknowbutton {
    font-size: 20px;
  }

  /* gallery dining section css */

  .dininggallerysection {
    /* padding-top: 50px;
  padding-bottom: 50px; */
  }

  .diningpagegallery h2 {
    font-size: 40px;
    color: #637557;
  }

  .diningpagegallery p {
    font-size: 20px;
    color: #535353;
  }

  .signature {
    margin-top: 100px;
    bottom: 0;
    font-family: "Quicksand";
    color: #9696aa;
    text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
  }
  .signature .name {
    color: white;
  }
  .signature .dot {
    margin: 0 5px;
  }
  .signature a {
    color: white;
    text-decoration: underline;
  }

  .amenetiesflex .amenetiesone {
    width: 190px;
  }

  .small-screen-flex {
    display: flex;
  }

  .ameneties-section-start {
    padding-bottom: 50px;
  }

  #DeluxeChaletId header .navbar-nav .nav-item .nav-link {
    color: #fff !important;
  }

  /* Css */

  .deluxeChLAETfLEX {
    display: flex;
    align-items: center;
  }

  #deluxeChaletGallery1 {
    width: 45%;
  }
  #deluxeChaletGallery2 {
    width: 55%;
  }

  #deluxeChaletGallery2 .carousel-control-prev-icon {
    background-image: url("../../../public/images/ArrowPrev.svg");
    width: 50px;
    height: 50px;
  }
  #deluxeChaletGallery2 .carousel-control-next-icon {
    background-image: url("../../../public/images/ArrowNext.svg");
    width: 50px;
    height: 50px;
  }

  #deluxeChaletGallery2 .carousel-indicators {
    display: none;
  }
  #deluxeChaletGallery2 .carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .gallwerytext {
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    color: #637557;
  }
}

.dlewxusdjdjf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  #DeluxeChaletId .nav-link {
    color: #fff !important;
  }

  .dining-banner-img {
    height: 350px;
    background-position: center;
  }
  .dining-banner-img h1 {
    padding-top: 130px;
  }
}

@media (max-width: 700px) {
}
